dwl
*.o
*-protocol.c
*-protocol.h
.ccls-cache

# dwl-bar
dwl-bar/.projectile
dwl-bar/dwl-bar
dwl-bar/compile_flags.txt
dwl-bar/bar.log
dwl-bar/config.h
dwl-bar/*-protocol.*

# Prerequisites
someblocks/*.d

# Object files
someblocks/*.o
someblocks/*.ko
someblocks/*.obj
someblocks/*.elf

# Linker output
someblocks/*.ilk
someblocks/*.map
someblocks/*.exp

# Precompiled Headers
someblocks/*.gch
someblocks/*.pch

# Libraries
someblocks/*.lib
someblocks/*.a
someblocks/*.la
someblocks/*.lo

# Shared objects (inc. Windows DLLs)
someblocks/*.dll
someblocks/*.so
someblocks/*.so.*
someblocks/*.dylib

# Executables
someblocks/*.exe
someblocks/*.out
someblocks/*.app
someblocks/*.i*86
someblocks/*.x86_64
someblocks/*.hex
someblocks/someblocks

# Debug files
someblocks/*.dSYM/
someblocks/*.su
someblocks/*.idb
someblocks/*.pdb

# Kernel Module Compile Results
someblocks/*.mod*
someblocks/*.cmd
someblocks/.tmp_versions/
someblocks/modules.order
someblocks/Module.symvers
someblocks/Mkfile.old
someblocks/dkms.conf

someblocks/someblocks
